@keyframes needleRotation {
  0% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

@keyframes gaugeRotation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(calc((var(--trigg) - var(--min)) / (var(--max) - var(--min)) * 180deg));
  }
}

.wrapper {
  display: inline-block;
  width: auto;
  margin: 0 auto;
  background: inherit;
}

.gauge {
  --gauge-height: calc(var(--gauge-width) / 2);
  width: var(--gauge-width);
  height: var(--gauge-height);
  border-radius: var(--gauge-height) var(--gauge-height) 0 0 !important;
  position: relative;
  overflow: hidden;
  background: inherit;
}

.slices {
  height: 100%;
}

.slices .marker {
  position: absolute;
  top: 0;
  border-radius: var(--gauge-height) var(--gauge-height) 0 0 !important;
  width: var(--gauge-width);
  height: var(--gauge-height);
  transform-origin: calc(var(--gauge-width) / 2) var(--gauge-height);
  animation: 1s ease-in 0s 1 gaugeRotation;
  animation-fill-mode: forwards;
  transform: rotate(calc((var(--trigg) - var(--min)) / (var(--max) - var(--min)) * 180deg));
  background: var(--bg);
}

.needle {
  position: absolute;
  bottom: 0;
  left: 50%;
  height: calc(var(--gauge-height) / 1.1);
  width: 2px;
  transform: rotate(45deg);
  box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.38);
  background: #15222e;
  transform-origin: bottom;
  animation-fill-mode: forwards;
  animation: needleRotation 800ms ease-in;
}

.gauge-center {
  content: '';
  color: #fff;
  width: 19%;
  height: 35%;
  background: #15222e;
  /* border-radius: 71%; */
  position: absolute;
  box-shadow: 0 -13px 15px -10px rgba(0, 0, 0, 0.28);
  right: 41%;
  border-radius: 76%;
  bottom: -45px;
  z-index: 10;
  top: 79%;
}

.gauge-center .label,
.gauge-center .number {
  display: block;
  width: 100%;
  text-align: center;
  border: 0 !important;
}
.gauge-center .label {
  font-size: 16px;
  margin: 1.1em 0 0.3em 0;
}
.gauge-center .number {
  font-size: 1.2em;
}
