<div class="wrapper">
  <div class="gauge" style="--gauge-width: 400px; --min: 0; --max: 100; --actual-value: 75">
    <div class="slices">
      <div class="marker" style="--bg: #e84c3d; --trigg: 0"></div>
      <div class="marker" style="--bg: #f1c40f; --trigg: 25"></div>
      <div class="marker" style="--bg: #f1970f; --trigg: 35"></div>
      <div class="marker" style="--bg: #1eaa59; --trigg: 55"></div>
    </div>

    <div class="needle"></div>

    <div class="gauge-center">
      <div class="label !text-white">Risk</div>
    </div>
  </div>
  <div class="flex justify-between">
    <div class="text-xl font-black rtl:order-1">High</div>
    <div class="text-xl font-black">Low</div>
  </div>
</div>
