@import 'tailwind';
@import 'nz-input';

.ng-otp-input-wrapper {
  display: flex;
  gap: 8px;
}

.otp-input {
  margin-right: 0 !important;
  @apply outline-primary-600;
}

.bell-icon svg path {
  stroke: #ffae1f;
  fill: #ffae1f;
}

nz-table {
  .ant-table {
    .ant-table-thead {
      .ant-table-cell {
        color: #6b7280;
        font-weight: 600;
      }
    }
  }
}

nz-sider [nz-icon] {
  @apply inline-flex items-center justify-center #{!important};
  vertical-align: middle !important;

  svg[data-icon^='icons'] {
    fill: none;
  }
}
