<div class="flex flex-wrap gap-8">
  <div class="card flex justify-between rounded-lg bg-white">
    <div class="flex flex-col">
      <div class="text-nowrap text-sm text-midnight-500">Active users</div>
      <div class="mt-auto text-2xl font-black" [countUp]="1200"></div>
    </div>
    <div>
      <span class="icon-size-7" nz-icon [nzType]="'icons:user'"></span>
    </div>
  </div>

  <div class="card flex justify-between rounded-lg bg-white">
    <div class="flex flex-col">
      <div class="text-nowrap text-sm text-midnight-500">Average session time</div>
      <div class="mt-auto text-2xl font-black" [countUp]="15"></div>
    </div>
    <div>
      <span class="text-yellow-600 icon-size-8" nz-icon [nzType]="'icons:session'"></span>
    </div>
  </div>

  <div class="card flex justify-between rounded-lg bg-white">
    <div class="flex flex-col">
      <div class="mr-2 text-sm text-midnight-500">Active transportation modes</div>
      <div class="mt-auto text-2xl font-black" [countUp]="4"></div>
    </div>
    <div>
      <span class="text-green-600 icon-size-8" nz-icon [nzType]="'icons:mode'"></span>
    </div>
  </div>

  <div class="card flex justify-between rounded-lg bg-white">
    <div class="flex flex-col">
      <div class="text-nowrap text-sm text-midnight-500">KAFD offered services</div>
      <div class="mt-auto text-2xl font-black" [countUp]="120"></div>
    </div>
    <div>
      <span class="text-violet-600 icon-size-8" nz-icon [nzType]="'icons:services'"></span>
    </div>
  </div>
</div>

<div id="chart" class="mt-10 flex flex-wrap gap-10">
  <div class="w-[500px] rounded-lg bg-white">
    <div class="mx-4 pt-4 text-2xl font-black">Trips</div>
    <apx-chart
      [series]="chartOptions.series!"
      [chart]="chartOptions.chart!"
      [dataLabels]="chartOptions.dataLabels!"
      [plotOptions]="chartOptions.plotOptions!"
      [xaxis]="chartOptions.xaxis!"
      [yaxis]="chartOptions.yaxis!"
      [legend]="chartOptions.legend!"
      [colors]="chartOptions.colors!"
    ></apx-chart>
    <div class="mb-4 flex flex-col items-center">
      <h2 class="text-2xl font-black">5000</h2>
      <h6 class="text-truncate text-midnight-400">5 % higher than last month</h6>
    </div>
  </div>

  <div class="flex flex-1 flex-col rounded-lg bg-white">
    <div class="mx-4 pt-4 text-2xl font-black">CO₂ emissions</div>
    <div class="flex flex-1 items-center justify-center">
      <app-gauge-chart />
    </div>
  </div>
</div>
